html{
  font-family: 'Dancing Script', cursive;
}
.main button{
  width:70px;
  height:70px;
  border:3px solid rgb(15, 90, 100);
  background-color: transparent;
  /* border-radius:1px; */
  /* box-shadow: 5px 5px 5px 1px rgb(172, 168, 168); */
  font-size: 3rem;
  color:black;
  outline: none;
}
h3{
  font-size: 30px;
}
.main{
  background-color: rgba(15, 173, 173, 0.808);
  padding: 30px;
  width:210px;
  margin:0 270px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.player{
  margin: 0 auto;
  text-align: center;
}
#para{
  font-size:1rem;
  font-weight: 800;
  /* color:red; */
}
#reset{
  display: none;
  margin:10px;
  padding : 10px 27px;
  color:white;
  border: none;
  border-radius: 3px;
  background-color: rgb(43, 43, 41);
}
.resetButton{
  text-align: center;
}
.cell1,.cell2,.cell3{
  border-top:transparent!important;
}
.cell1,.cell4,.cell7{
  border-left:transparent!important;
}
.cell3,.cell6,.cell9{
  border-right:transparent!important;
}
.cell7,.cell8,.cell9{
  border-bottom:transparent!important;
}